.registration-block {
  position: absolute;
  top: 8rem;
  left: 10rem;
  padding-bottom: 1rem;
}

.card {
  width: 500px;
  height: auto;
}


.card-title{
  padding-bottom: 5px;
}

.card-text {
  padding-bottom: 5px;
}

.proceed-registration {
  position: absolute;
  top: 20rem;
  right: 20rem;
  opacity: 80%;
}

.proceed-registration:hover{
  opacity: 100%;
}

.-unclickable {
  pointer-events: none;
}

.proceed-registration-logo {
  border: 1px solid;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.logo {
  margin-left: 8px;
  margin-top: 24px;
}

.proceed-registration-text {
  margin-top: 10px;
}
