<form class="form-inline" [formGroup]="formGroup">
  <div class="form-group">
    <input type="text" class="form-control" [formControlName]="'origin'" placeholder="Origin"
    (keyup)="getOriginSuggestions()">
  </div>
  <div class="form-group">
    <a (click)="changeValues()"><img class="change-icon" src="../../../assets/icons/Synchronize_24px.png"/></a>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" [formControlName]="'destination'" placeholder="Destination"
    (keyup)="getDestinationSuggestions()">
  </div>
  <div class="form-group">
    <input type="date" class="form-control date-picker" [formControlName]="'dateThere'" [min]="currentDate">
  </div>
  <div class="form-group">
    <input type="date" class="form-control date-picker" [disabled]="needBackTicket" [formControlName]="'dateBack'" [min]="currentDate">
  </div>
  <button type="submit" class="btn btn-primary btn-go" (click)="searchFlights()">GO</button>
</form>

<div class="sub-options-panel">
  <div class="origin-suggestions">
    <ul class="origin-suggestions-list" *ngIf="originSuggestionFound">
      <li *ngFor="let originSuggestion of originSuggestions"
          (click)="setOrigin(originSuggestion)">
        {{originSuggestion.name + ' ' + originSuggestion.code}}
      </li>
    </ul>
  </div>
  <div class="destination-suggestions">
    <ul class="destination-suggestions-list" *ngIf="destinationSuggestionFound">
      <li *ngFor="let destinationSuggestion of destinationSuggestions"
          (click)="setDestination(destinationSuggestion)">
        {{destinationSuggestion.name + ' ' + destinationSuggestion.code}}
      </li>
    </ul>
  </div>
  <div class="need-back-checkbox">
    <label>
      <input type="checkbox" [formControlName]="'needBack'" (change)="setNeedBack($event)">
      Need back ticket
    </label>
  </div>
</div>
