<fly-header-navigation></fly-header-navigation>

<div class="flights-block" *ngIf="flights">
  <div class="card" *ngFor="let quote of flights.quotes">
    <div class="card-body">
      <h5 class="card-title">{{flights.originCity + ' ' + flights.originCode + ' - ' +
      flights.destinationCity + ' ' + flights.destinationCode}}</h5>
      <p class="card-text">
        <img class="image-take-off" src="../../../assets/icons/plane_take_off_24px.png">
      </p>
      <p class="card-text">
        {{'Date: ' + quote.departureDate}}
      </p>
      <p class="card-text">
        {{'Time: ' + quote.departureTime}}
      </p>
      <p class="card-text-carrier">
        {{quote.carriers[0]}}
      </p>
      <a class="btn btn-primary btn-buy" (click)="buyTicket(quote)">Buy 50$</a>
    </div>
  </div>
</div>

{{flights | json}}
