<fly-header-navigation></fly-header-navigation>

<div class="flights-block">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Origin - Destination</h5>
      <p class="card-text">
        <img class="image-take-off" src="../../../assets/icons/plane_take_off_24px.png">
        <img class="image-landing" src="../../../assets/icons/plane_landing_24px.png">
      </p>
      <p class="card-text">
        Airline
      </p>
      <a routerLink="registration" class="btn btn-primary btn-buy">Buy 50$</a>
    </div>
  </div>
</div>
