<fly-header-navigation></fly-header-navigation>

<div class="review-order-block" *ngIf="salesOrder">
  <div class="card">
    <h5 class="card-title">Flight information</h5>
    <div class="card-body ticket">
        <p class="card-text">
          {{salesOrder.ticketThere.originCity + ' ' + salesOrder.ticketThere.originCode + ' - ' +
          salesOrder.ticketThere.destinationCity + ' ' + salesOrder.ticketThere.destinationCode}}
        </p>
      <p class="card-text">
        {{'Date: ' + salesOrder.ticketThere.quotes[0].departureDate}}
      </p>
      <p>
        {{'Time: ' + salesOrder.ticketThere.quotes[0].departureTime}}
      </p>
    </div>
    <div class="card-body ticket" *ngIf="salesOrder.ticketBack">
      <p class="card-text">
        {{salesOrder.ticketBack.originCity + ' ' + salesOrder.ticketBack.originCode + ' - ' +
      salesOrder.ticketBack.destinationCity + ' ' + salesOrder.ticketBack.destinationCode}}
      </p>
      <p class="card-text">
        {{'Date: ' + salesOrder.ticketBack.quotes[0].departureDate}}
      </p>
      <p>
        {{'Time: ' + salesOrder.ticketBack.quotes[0].departureTime}}
      </p>
    </div>
    <h5 class="card-title">Personal information</h5>
    <div class="card-body">
      <p class="card-text">
        {{salesOrder.customer.firstName + ' ' + salesOrder.customer.lastName + ' ' + salesOrder.customer.passportId}}
      </p>
    </div>
    <h5 class="card-title">Extras</h5>
    <div class="card-body">
      <p class="card-text">
        {{'Amount of extra baggage: ' + salesOrder.extras.amount}}
      </p>
      <p class="card-text">
        {{'Price: ' + salesOrder.extras.price}}
      </p>
    </div>
  </div>
</div>

<div class="proceed-review-order">
  <a routerLink="confirmation" class="btn">
    <div class="proceed-review-order-logo">
      <img class="logo" src="../../../assets/icons/plane_proceed_48px.png">
    </div>
    <div class="proceed-review-order-text">
      <p>Proceed</p>
    </div>
  </a>
</div>
