<fly-header-navigation></fly-header-navigation>

<div class="review-order-block">
  <div class="card">
    <h5 class="card-title">Flight information</h5>
    <div class="card-body">
        <p class="card-text">
        </p>
    </div>
    <h5 class="card-title">Personal information</h5>
    <div class="card-body">
      <p class="card-text">
      </p>
    </div>
    <h5 class="card-title">Extras</h5>
    <div class="card-body">
      <p class="card-text">
      </p>
    </div>
  </div>
</div>

<div class="proceed-review-order">
  <a routerLink="confirmation" class="btn">
    <div class="proceed-review-order-logo">
      <img class="logo" src="../../../assets/icons/plane_proceed_48px.png">
    </div>
    <div class="proceed-review-order-text">
      <p>Proceed</p>
    </div>
  </a>
</div>
