<div class="header-navigation">
  <div class="header-navigation-item">
    <div class="header-navigation-item-circle" [ngClass]="selectFlight ? '-active' : ''">
    </div>
    <div class="header-navigation-item-description">
      <a routerLink="flight-choose" class="link">Select flight</a>
    </div>
  </div>
  <div class="header-navigation-item-separator">
  </div>
  <div class="header-navigation-item">
    <div class="header-navigation-item-circle" [ngClass]="registration ? '-active' : ''">
    </div>
    <div class="header-navigation-item-description">
      <a routerLink="registration" class="link">Registration</a>
    </div>
  </div>
  <div class="header-navigation-item-separator">
  </div>
  <div class="header-navigation-item">
    <div class="header-navigation-item-circle" [ngClass]="extras ? '-active' : ''">
    </div>
    <div class="header-navigation-item-description">
      <a routerLink="extras" class="link">Extras</a>
    </div>
  </div>
  <div class="header-navigation-item-separator">
  </div>
  <div class="header-navigation-item">
    <div class="header-navigation-item-circle" [ngClass]="reviewCart ? '-active' : ''">
    </div>
    <div class="header-navigation-item-description">
      <a routerLink="review-order" class="link">Review order</a>
    </div>
  </div>
  <div class="header-navigation-item-separator">
  </div>
  <div class="header-navigation-item">
    <div class="header-navigation-item-circle" [ngClass]="confirmation ? '-active' : ''">
    </div>
    <div class="header-navigation-item-description">
      <a class="link">Confirmation</a>
    </div>
  </div>
</div>

