.error-popup {
  position: absolute;
  top: 1rem;
  left: 30rem;
}

.error-popup-content{
  height: 40px;
  width: 500px;
  border-radius: 10px;
  text-align: center;
}

.error-popup-message {
  font-size: 20px;
}
